@import url( 'https://fonts.googleapis.com/css?family=Roboto');
$base: #00B7FF;
$alt: #eee;

body {
  padding: 50px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #00B7FF;
}

h1,
h2,
h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.index-h3 {
  padding: 10px 20px;
  background: #eee;
  max-width: 240px;
  margin: 0 auto 10px;
  border-radius: 5px;
}

.index-left-panel {
  margin-top: 60px;
  padding-left: 0;
}

.styled-form {
  max-width: 600px;
  margin: 0 auto;

  button {
    display: block;
    margin: 0 auto;
  }
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.success-message {
  background: #009245;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.passport-button {
  max-width: 191px;
}

.no-max-width {
  max-width: 1920px;
  margin-bottom: 100px;
}

.map-group {
  height: 300px;

  label {
    text-align: center;
  }
}

.card-deck .card.destination-card,
.card-deck .card.origin-card {
  display: none;
}

.card-row {
  // margin: 0 10%;
}

.form-signin {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  button {
    margin-bottom: 30px;
  }
}

.alt-signins {
  margin: 0 auto;
  width: 400px;
}

.navbar-email {
  display: inline-block;
}

.navbar-avatar {
  width: 50px;
  border-radius: 50px;
}

.offer-avatar {
  width: 120px;
  border-radius: 100px;
  padding: 10px;
}

.card.ride-card {
  font-size: 1.2em;
}

#storm-list {
  background-color: #eee;

  ul {
    padding-left: 20px;
  }

  li {
    background-color: #eee;
    padding: 3px;
  }

  h5 {
    padding: 10px;
  }

  .storm-name {
    padding: 10px;
    background-color: #ccc;
  }
  border-radius: 5px;
  list-style: none;
}

.storm-name {
  cursor: pointer;
}

.storm-img {
  display: none;
  margin: 0 auto;
}

.storm-stats {
  list-style: disc;
}

.cat-1 h5 {
  color: #FFFF00;
}

.cat-2 h5 {
  color: #FFAE00;
}

.cat-3 h5 {
  color: #FF0000;
}

.cat-4 h5 {
  color: #FF00FF;
}

.cat-5 h5 {
  color: #FFC2FF;
}

.cat--1,
.cat--2,
.cat-0 {
  display: none;
}

.windy-iframe {
  display: none;
}

#route-distance-container,
#route-duration-container {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  width: 290px;
  margin-bottom: 10px;
}

#route-info-pane {
  margin: 0 auto;
  width: 600px;

  div {
    padding-bottom: 10px;
  }
}

#slidecontainer {
  width: 600px;
  text-align: center;
}

#google-map-inputs {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

.gmaps-inner-input {}

.hidden {
  display: none;
}

.fa {
  padding-right: 5px;
}

.apply-section {
  form {
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #eee;

    button {
      margin-top: 15px;
    }
  }
}

.filler-div {
  width: 100%;
  height: 500px;
}

.my-ride-card {
  margin-top: 75px;
}

#application-list {
  list-style: none;
  padding-left: 0;
}

.card-deck .list-group-item {
  border: none;
}

.card-divider {
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px 0;
}

#find-ride-section {
  margin-top: 50px;

  h3 {
    margin-bottom: 50px;
  }
}

footer {
  background: $alt;

  h6 {
    padding: 20px 50px;

    a {
      text-decoration: none;
    }
  }
}

nav {
  margin-bottom: 50px;
}
