body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.styled-form{
  max-width: 600px;
  margin: 0 auto;
  button{
    display: block;
    margin: 0 auto;
  }
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.success-message{
  background: #009245;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.passport-button{
  max-width: 191px
}

.no-max-width{
  max-width: 1920px;
  margin-bottom: 100px;
}

.map-group{
  width: 400px;
  height: 300px;
  label{
    text-align: center;
  }
}
